%footer
  .container
    .row
      .col-md-12
        %p MeasureUp Inc.
        %hr
        = link_to "https://www.facebook.com/MeasureUp4U" do
          = image_tag "facebook"   
        |
        = link_to "https://www.instagram.com/measureup4u/?hl=en" do
          = image_tag "Instagram"
        |
        = link_to "https://www.tiktok.com/@measureup4u?lang=en" do
          = image_tag "TikTok"