%footer
  .container
    .row
      .col-md-12
        %p MeasureUp 2022
        %p Follow me on my socials!
        .socials-container
          .social
            = link_to "https://www.facebook.com/MeasureUp4U" do
              = image_tag "facebook"   
          .social
            = link_to "https://www.tiktok.com/@measureup4u?lang=en" do
              = image_tag "tiktok"
          .social
            = link_to "https://www.instagram.com/measureup4u/?hl=en" do
              = image_tag "instagram"