.flexslider
  %ul.slides
    %li
      = image_tag 'slider-img1'
      .flex-caption
        %h2.slider-title We make Pizza
        %h3.slider-subtitle Fresh, clean, and delicious.
        %p.slider-description Praesent tincidunt neque semper elementum gravida. Donec id euismod magna. Ut erat ligula, malesuada eu quam a, fringilla auctor augue.
    %li
      = image_tag 'slider-img2'
      .flex-caption
        %h2.slider-title Freshly Baked Pizza
        %h3.slider-subtitle Premium Quality, Finest Ingredients
        %p.slider-description Donec id euismod magna. Ut erat ligula, malesuada eu quam a, fringilla auctor augue. Praesent tincidunt neque semper elementum gravida.

%section#about.templatemo-section.templatemo-top-130
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %h1.text-uppercase Your Pizza Shop
      .col-md-6.col-sm-6
        %h3.text-uppercase.padding-bottom-10 Another Baker
        %p
          Pizza responsive web template is provided by
          %a{:href => "http://www.templatemo.com", :rel => "nofollow", :target => "_parent"} templatemo
          website. Feel free to download, adapt, and use this template for your websites. Credit goes to
          %a{:href => "http://pixabay.com", :rel => "nofollow", :target => "_parent"} Pixabay
          for images used in this template.
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
        %p Proin enim sem, ultricies sit amet convallis nec, sodales quis augue. Duis consequat felis ac justo luctus, a cursus tellus pharetra. In ullamcorper gravida enim id pulvinar.
      .col-md-6.col-sm-6
        = image_tag 'about-img1' ,class: "img-responsive img-bordered img-about"

%section#gallery.templatemo-section.templatemo-light-gray-bg
  .container
    .row
      .col-md-12
        %h2.text-center.text-uppercase Gallery
        %hr
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag 'gallery-img1', class: "img-responsive gallery-img"
          .gallery-des
            %h3 Curabitur
            %h5 Cras in ante mattis, elementum nunc sed.
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag 'gallery-img2', class: "img-responsive gallery-img"
          .gallery-des
            %h3 Lorem ipsum
            %h5 In ullamcorper gravida enim id pulvinar
      .col-md-4.col-sm-4
        .gallery-wrapper
          = image_tag 'gallery-img3', class: "img-responsive gallery-img"
          .gallery-des
            %h3 Pellentesque
            %h5 Maecenas efficitur nisi id sapien
      .col-md-6.col-sm-6
        .gallery-wrapper
          = image_tag 'gallery-img4', class: "img-responsive gallery-img"
          .gallery-des
            %h3 Suspendisse
            %h5 Mauris sit amet augue sit amet risus
      .col-md-6.col-sm-6
        .gallery-wrapper
          = image_tag 'gallery-img5', class: "img-responsive gallery-img"
          .gallery-des
            %h3 Elementum
            %h5 Maecenas efficitur nisi id sapien

%section#contact.templatemo-section
  .container
    .row
      .col-md-12
        %h2.text-uppercase.text-center Contact Us
        %hr
      .col-md-2
      .col-md-8

      .col-md-2
      .col-md-4.col-sm-4
        %h3.padding-bottom-10.text-uppercase Visit our shop
        %p
          %i.fa.fa-map-marker.contact-fa
          63 Another Walking Street, BKK 18080
        %p
          %i.fa.fa-phone.contact-fa
          = succeed "," do
            %a.contact-link{:href => "tel:010-020-0340"} 010-020-0340
          %a.contact-link{:href => "tel:080-090-0660"} 080-090-0660
        %p
          %i.fa.fa-envelope-o.contact-fa
          %a.contact-link{:href => "mailto:hello@company.com"} hello@company.com
      .col-md-4.col-sm-4
        %h3.text-uppercase Opening hours
        %p
          %i.fa.fa-clock-o.contact-fa
          7:00 AM - 11:00 PM
        %p
          %i.fa.fa-bell-o.contact-fa
          Monday to Friday and Sunday
        %p
          %i.fa.fa-download.contact-fa
          %a.contact-link{:href => "http://fontawesome.io/icons/", :rel => "nofollow", :target => "_blank"} Change Icons
      .col-md-4.col-sm-4
        .google_map
          #map-canvas.map

