!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= "Measure Up"
    %meta{ content: "fitness, protein, healthy snacks", name: "keywords"}
    %meta{ content: "Protein-based vegan and gluten-free desserts, baked fresh to order for your fitness needs!", name: "description"}

    %meta{content: "IE=Edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: "text/html; charset=UTF-8", 'http-equiv': "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{rel: "canonical", href: "http://www.measureup4u.com/home"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body#home{"class" => "measureup-body","data-spy" => "scroll", "data-target" => ".navbar-collapse"}
    = render partial: "measureup/navbar"
    = yield

  = render partial: "measureup/footer"